.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    height: 30px;
    width: 30px;
    border-style: solid;
    border-width: 1px;
}

.grid-item:hover {
    background-color: red;
}